html {
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

/*Links in nav and footer*/
nav a, footer a {
	text-decoration: none;
	padding: 5px 8px 5px 8px;
	display: inline;
	color: #666666;
	font-size: 13px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*Navigation bar*/
nav {
	display: block;
	text-align: right;
	margin-top: 10px;
}

nav ul {
/*	list-style-type: none;
*/	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

/*Menu and notifications icon*/
.icon {
	height: 33px;
	width: 33px;
	vertical-align: middle; /*keeps menu and bell icons in line with nav bar*/
}

/*Share icon and profile image*/
#share {
	height: 33px;
	vertical-align: middle;
}

#profile {
	height: 33px;
	width: 33px;
	vertical-align: middle;
	border-radius: 100%;
}

/*Logo and search form + buttons*/
#logo {
	display: block;
	height: 225px;
	width: 602px;
	margin: 60px auto 0}

#searchOptions {
	display: block;
	text-align: center;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 569px;
	margin: 0 auto;
	display: block;
	height: 26px;
}


.button {
	height: 29px;
	line-height: 29px;
/*	min-width: 54px;*/
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	border-radius: 2px;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	padding: 0 8px;
	margin: 12px 5px;
	color: #4D4D4D;
	cursor: pointer; /*fake button*/
}

/*form {
	padding: 8px;
}*/
/*
input[type="text"]*/ 

form {
	display: block;
	height: 26px;
	margin: 0 auto;

}

/*Footer styling*/
footer {
	background-color: #f2f2f2;
	width:	100%;
	position: fixed;
	bottom: 0;
	line-height: 3;
	border-top: 1px solid #cccccc;
}

#terms {
	text-align: left;
	display: inline-block;
	width:	49%;
}

#settings {
	text-align: right;
	display: inline-block;
	width:	49%;
}
